body {
  height: 100vh;
  padding: 0px;
  margin: 0px;
  background: linear-gradient(90deg, rgb(67, 160, 197) 0%, rgb(124, 194, 206) 35%, rgb(137, 230, 222) 100%);
  overflow-y: hidden;
}

.App {
  text-align: center;
}

.label {
  font-size: 28px;
  font-weight: bolder;
}

.input1 {
  width: 180px;
  height: 40px;
  border-radius: 10px;
  font-size: 18px;
  margin-left: 60px;
  background-color: rgb(201, 243, 243);
}

.btn {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  font-size: 22px;
  margin-left: 80px;
}

.para {
  font-size: 22px;
  font-weight: bolder;
}

.go {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  font-size: 22px;
  margin-left: 80px;
  background-color: bisque;
}