body {
  height: 100vh;
  padding: 0px;
  margin: 0px;
  background: linear-gradient(90deg, rgb(93, 160, 187) 0%, rgb(199, 124, 206) 35%, rgb(137, 230, 222) 100%);
  overflow-y: hidden;
}

.App {
  text-align: center;
}

h1 {
  font-size: 45px;
  color: rgb(3, 48, 33);
}

.label {
  font-size: 32px;
  font-weight: bolder;
}

.input1 {
  text-align: center;
  width: 200px;
  height: 45px;
  border-radius: 20px;
  font-size: 18px;
  margin-left: 60px;
  background-color: rgb(208, 243, 243);
}

.btn {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  font-size: 22px;
  margin-left: 80px;
}

.para {
  font-size: 22px;
  font-weight: bolder;
}

.back {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  font-size: 32px;
  margin-left: 80px;
  background-color: rgb(90, 204, 212);
}